<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sven.riceapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RiceApp">
        <activity android:name=".ui.home.fertilizer_calculator.FertilizerSelect" />
        <activity android:name=".ui.home.health_guide.variety_document.Harvest" />
        <activity android:name=".ui.home.health_guide.variety_document.Pest" />
        <activity android:name=".ui.home.health_guide.variety_document.Water" />
        <activity android:name=".ui.home.health_guide.variety_document.Nutrient" />
        <activity android:name=".ui.home.health_guide.variety_document.Crop" />
        <activity android:name=".ui.home.health_guide.variety_document.Variety" />
        <activity
            android:name=".ui.home.health_guide.variety_document.Land"
            android:label="Details"
            android:parentActivityName=".ui.home.health_guide.RiceVarietyActivity" />
        <activity
            android:name=".ui.home.health_guide.RiceVarietyActivity"
            android:label="Health Guide"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".ui.home.fertilizer_calculator.FertilizerCalculatorActivity"
            android:label="Fertilizer Calculator"
            android:parentActivityName=".ui.home.fertilizer_calculator.FertilizerSelect" />
        <activity
            android:name=".ui.home.disease_identifier.DiseaseIdentifierActivity"
            android:label="Disease Identifier" />
        <activity
            android:name=".HomeActivity" />
        <activity
            android:name=".MainActivity"
            android:label="Log In"
            android:theme="@style/Theme.RiceApp.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:label="Sign Up"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".IntroductionActivity"
            android:theme="@style/Theme.RiceApp.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>